/*
Reset & propriétés de base
*/
    * {
        margin: 0;
        padding: 0;

        box-sizing: border-box;
    }

    .r-p {
        padding: 0;
    }

    .r-m {
        margin: 0;
    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: #f7ecdb;

        font-family: 'Open Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;

        font-family: 'Roboto', sans-serif;
    }

    a, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #a7dadc;
    }
/*
Menu de navigation horizontal
*/
    header {
        position: fixed;

        width: 100%;
        height: 5rem;

        background: #eddcc0;

        z-index: 25;
    }

    header nav > ul {
        float: right;

        margin: 0 5rem;
    }

    header nav > ul > li {
        position: relative;
        display: inline-block;

        margin: 0 1rem;
    }

    header nav > ul > li > a {
        display: block;

        color: #a4300c;
        font-weight: bold;
        line-height: 5rem;
    }

    header nav > ul > li a:hover {
        color: #d09038;
    }

    div.account-popup {
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;

        margin-top: 5px;

        white-space: nowrap;
        z-index: 5;
    }

    div.account-popup ul {
        padding: 0 1rem;

        background: #eddcc0;

        list-style: none;
        text-align: right;
    }

    div.account-popup ul li a {
        display: block;

        color: #a4300c;
        line-height: 3rem;
    }

/*
Menu de navigation latéral
*/
    .col-aside, .col-main {
        margin-top: 5rem;
    }

    .col-aside {
        position: fixed;
        height: 100%;

        background: #272727;
        border-right: 5px solid #d09038;
    }

    .col-main {
        margin-left: 16.66666667%;
    }

    aside {
        height: 100%;
    }

    aside nav ul {
        margin: 0;
        list-style: none;
    }

    aside nav ul li {

    }

    aside nav ul li a {
        display: block;

        padding: 0 2rem;

        background: #272727;
        border-bottom: 1px solid #000;

        color: #fff;
        font-size: 1.2em;
        line-height: 6rem;

        transition:
            background 0.5s ease-out,
            color 0.2s ease-out,
            padding 0.2s ease-out;
    }

    aside nav ul:last-of-type li:last-of-type a {
        border-bottom: 0;
    }

    aside nav ul li.current a,
    aside nav ul li a:hover {
        padding-left: 4.5rem;
    }

    aside nav ul li {
        border-left: 5px solid #d09038;
    }

    aside nav ul li.current a {
        color: #000;
        background: #a4300c;
    }
    aside nav ul li:hover a {
        color: #000;
        background: #d09038;
    }

    aside ul li:last-of-type {
        border-radius: 0 0 0 4px;
    }

    aside nav ul li a:hover {

    }

    aside nav ul li.current a {

    }

    aside nav ul li img {

        margin: 0 auto;
    }

    aside nav ul li img {
        display: inline-block;
        padding-right: 10px;
    }
    aside nav ul li img:hover {
    	        color: yellow;
    }


/*
Contenu principal
*/
    main {

    }

    h1 {
        height: 15rem;

        padding: 4.5rem 0;

        background: #3d373e;

        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    h1 span {
        display: block;

        color: #d09038;
        font-size: 0.7em;
        text-transform: none;
    }

    article {
        position: relative;

        width: 100%;
        max-width: 65rem;

        margin: 1rem auto 10rem auto;

        background: #eddcc0;
        border: 1px solid #fff;
        border-radius: 5px 5px 0 0;
    }

    article h2 {
        position: absolute;
        top: 15.2rem;
        left: 0;

        background: rgba(75, 29, 63, 0.8);

        width: 100%;
        max-width: 65rem;

        padding: 2rem;

        color: #fff;
        font-size: 1.1em;
        text-align: center;
        text-transform: uppercase;
    }

    article p {
        padding: 2.5rem;
        padding-bottom: 0;
    }
