

/*
FICHE PRODUITS
*/

#ficheProduit{
        background-color: #e7cb9b;
        width: 50%;
        border-radius: 4px;
}

.cadre{
        text-align: center;
        background-color: #ffffff;
        width: 50%;
        border-radius: 4px;
}

.produitImg img{
        text-align: center;
        width: 50%;
        border-radius: 4px;

 }
