

/*
FICHE PRODUITS
*/



.produitImg img{
	    margin: 8% 0% 0% 0%;
        text-align: center;
        width: 100%;
        border-radius: 4px;
     
 }


/*
PRODUCTEURS DU MOIS
*/
#winesOfTheMonth{
	width: 100%;
    padding: 3em 3em 2em;
    background-color: #eddcc0;
    color: #d09038;
    text-transform: uppercase;
    border-radius: 4px;
}

#BtnSubmit{
	width: 100%;
}

.Wineofmonth{
	margin: 0% 0% 1% 10%;
}