

/*
FICHE PRODUITS
*/

.container{
        background-color: #e7cb9b;
        width: 40%;
        border-radius: 4px;
}

.cadre{
        text-align: center;
       background-color: #ffffff;
       width: 40%;
       border-radius: 4px;
}

.produitImg img{
        width: 17%;
 }
