/* Affichage des membres */

	section.member-list {
		padding: 3rem;
	    background-color: #eddcc0;
	    margin-bottom: 5rem;
	    border-radius: .5rem;
	    border-top-left-radius: 0;

	    display: none;
        position: absolute;
        background-color: #eddcc0;
        color: #ffffff;
        top: 0%;
        left: 0;
        transform: translate(0%, 0%);
        margin-bottom: 10em;
        z-index: -1;
        border-radius: 0 4px 4px 4px;
	}

	section.member-list {
        width: 100%;
        /*text-align: center;*/
        /* height: 60%; */
        /* margin: 28.6em 7px; */
        padding: 3em 3em 2em;
        background-color: #eddcc0;
        color: #d09038;
        text-transform: uppercase;

	}



	table.table {
		margin-top: 20px;
		padding:2rem;
		border-radius:.5rem;
		border: 3px solid #d09038;
	}

 	.table-striped>tbody>tr>th {
		font-weight: bold;
		color:#d09038;
	}
	td.action a:hover {
		opacity: 0.5;
	}
	td.action {
		text-align:center;
	}

	form.members {
		background-color:#eddcc0;
		padding: 3rem;
		border-radius: .5rem;
		border-top-left-radius: 0;
		margin-bottom:3rem;
	}

	form.members div.row {
		padding: 1.5rem;
	}
/*	form.members div.row label {
		display:block;
		color:#a4300c;
	}*/
	h2.members {
		color:#d09038;
		background-color:#eddcc0;
		width:40%;
		text-transform:uppercase;
		margin-top: 5rem;
		padding:2.5rem;
	 	border-top-right-radius: .5rem;
		border-top-left-radius: .5rem;
	}

	div.form-group label {
		display:block;
		margin-top: 2rem;
	/*	color:#a4300c;*/
	}

	form .form-control {
		margin: 0 auto;
		margin-right: 1.5rem;
	}

	div.row input[type="submit"] {
		width:100%;
		margin: 0 auto;
		background-color: #d09038;
		text-transform: uppercase;
		color:#fff;
		margin-top: 2rem;
	}

	input[type="submit"]:hover {
		background-color:#d09038;
			color:#fff;
	}
/* Ajouter un membre */

	.alert-success {
		width:97%;
		margin:0 auto;
	}

/* Affichage des producteurs */

	h2.winemakers {
		color:#d09038;
		background-color:#eddcc0;
		width:40%;
		text-transform:uppercase;
		margin-top: 5rem;
		padding:2.5rem;
	 	border-top-right-radius: .5rem;
		border-top-left-radius: .5rem;
	}
	form.winemakers {
		background-color:#eddcc0;
		padding: 3rem;
		border-radius: .5rem;
		border-top-left-radius: 0;
		margin-bottom:3rem;
	}
	form.winemakers div.row {
		padding: 1.5rem;
	}

	form.winemakers div.row label {
		display: block;

	}

	th {
		text-align: center;
	}

	td.action a:hover {
		opacity: 0.5;
	}


/* Affichage du profil d'utilisateur */

	div.profile-view {
		margin:4rem auto;
		background-color:white;
	}
	div.profile-view > h2 {
		margin: 2rem 0;
	}
	h3.user-photos {
		margin: 2rem 0;
	}

	nav ul {
		list-style:none;
	}
