
/* DASHBOARD/CSS */

/* Affichage des membres */

	section.member-list {
		padding: 3rem;
	    background-color: #eddcc0;
	    margin-bottom: 5rem;
	    display: none;
        position: absolute;
        background-color: #eddcc0;
        color: #ffffff;
        top: 0%;
        left: 0;
        transform: translate(0%, 0%);
        margin-bottom: 10em;
        z-index: -1;
        border-radius: 0 5px 5px 5px;
	}

	section.member-list {
        width: 100%;
        /*text-align: center;*/
        /* height: 60%; */
        /* margin: 28.6em 7px; */
        padding: 3em 3em 2em;
        background-color: #eddcc0;
        color: #d09038;
        text-transform: uppercase;

	}


	table.table {
		margin-top: 20px;
		padding:2rem;
		border-radius:.5rem;
		border: 3px solid #d09038;
	}

	.table>tbody>tr>td {
		word-break: break-all;
	}

 	.table-striped>tbody>tr>th {
		font-weight: bold;
		color:#d09038;
	}
	td.action a:hover {
		opacity: 0.5;
	}
	td.action {
		text-align:center;
	}

	form.members {
		background-color:#eddcc0;
		padding: 3rem;
		border-radius: 0 5px 5px 5px;
		margin-bottom:3rem;
	}

	form.members div.row {
		padding: 1.5rem;
	}
/*	form.members div.row label {
		display:block;
		color:#a4300c;
	}*/
	h2.members {
		color:#d09038;
		background-color:#eddcc0;
		width:40%;
		text-transform:uppercase;
		margin-top: 5rem;
		padding:2.5rem;
	 	border-top-right-radius: .5rem;
		border-top-left-radius: .5rem;
	}

	div.form-group label {
		display:block;
		margin-top: 2rem;
	/*	color:#a4300c;*/
	}

	form .form-control {
		margin: 0 auto;
		margin-right: 1.5rem;
	}

	div.row input[type="submit"] {
		width:100%;
		margin: 0 auto 2em;
		background-color: #d09038;
		text-transform: uppercase;
		color:#fff;
		margin-top: 2rem;
	}

	input[type="submit"]:hover {
		background-color:#d09038;
			color:#fff;
	}


/* Ajouter un membre */

	.alert-success {
		width:97%;
		margin:0 auto;
	}

/* Affichage des producteurs */

	h2.winemakers {
		color:#d09038;
		background-color:#eddcc0;
		width:40%;
		text-transform:uppercase;
		margin-top: 5rem;
		padding:2.5rem;
	 	border-top-right-radius: .5rem;
		border-top-left-radius: .5rem;
	}
	form.winemakers {
		background-color:#eddcc0;
		padding: 3rem;
		border-radius: .5rem;
		border-top-left-radius: 0;
		margin-bottom:3rem;
	}
	form.winemakers div.row {
		padding: 1.5rem;
	}

	form.winemakers div.row label {
		display: block;

	}

	th {
		text-align: center;
	}

	td.action a:hover {
		opacity: 0.5;
	}


/* Affichage du profil d'utilisateur */

	div.profile-view {
		width:50%;
		margin:4rem auto;
		background-color:white;
	}
	div.profile-view > h2 {
		margin: 2rem 0;
	}
	h3.user-photos {
		margin: 2rem 0;
	}

	nav ul {
		list-style:none;
	}


/* Trouver les producteurs */
	input.pac-input {
		border:0
	}
	.input-group {
		border-radius: 5px;

	}
	.input-group .form-control:first-child {
		border: 1px solid #eddcc0;
		border-radius: 5px;
	}
	.stylish-input-group .form-control {
		box-shadow: 0 0 0;
	}
	#GoogleMap {
		margin: 2em auto;
		background-color: #eddcc0;
		padding:4em;
		border-radius: 5px;
	}

	#dashboard_map {
		height:400px;
		margin-top: 2em;
		border-radius: 5px;
	}

	#dashboard_winmakerSearch > p {
		color: #d09038;
	}
	#dashboard_winmakerSearch form {
	    width: 100%;
	    max-width: 1170px;
	    margin: 2rem auto;
	}
	.input-group-addon:last-child {
	    border: none;
	    border-radius: 5px;
	}
	.stylish-input-group button {
	    border: 0;
	    background: transparent;
    }


/* Fiche producteur */

	div.winemakerInfo {
		text-align: center;
		margin-bottom: 2em;
	}

	div.winemakerInfo .col-md-3 {
		margin: 1.5em auto;
	}


	div.winemakerInfo a {
		color:#d09038;
	}

	div.winemakerInfo a:hover {
		color:#d09038;
		font-weight: bold;
	}

	img.photoProfil {
		opacity:0.6;
		width: 60%;
		border-radius: 50%;
	}

	img.photoProfil:hover {
		opacity:1;
	}

/*
Media Query
*/

	@media screen and (max-width: 991px) {
		/* Bouton Input */
			div.row input[type="submit"] {
				margin: 0 auto 0em;
				margin-top: 0rem;
			}
			#winemaker_submit {
				margin-bottom:2em;
			}

		/* Winenot Menu Dashboard */
			#winenot-menu > li:first-child{
				padding:1em 0;
			}

		/* Main page */
			.col-aside, .col-main {
				margin-top:0;
			}
			#winenot-menu {
				margin-bottom:0;
			}

		/* Page Google Map dans Dashboard*/
			section#GoogleMap {
				padding:1em 0;
			}
			#dashboard_winmakerSearch {
				text-align: center;
			}

			section#GoogleMap form {
				padding:1em;
			}

		 /* Onglet */
		 	.tabs {
		 		width:100%;
		 	}
		 	.tabs li {
		 		width:50%;
		 		text-align:center;
		 	}

			#addProduct, #addUser, #addProducer, #member-list {
				font-size: 1.3rem;
			}

			section.member-list, section.stock {
				padding:0;
				margin:0;
			}
			section.caveDescription {
				text-align:center;
			}
			li#stock {
				font-size: 1.3rem;
			}


		/* Data de Table */
		  table#cave thead { display: none; }
		  table#cave tbody td {
		  	font-size: 1.3rem;
		  	text-align:left;
		    display: block;
		    padding: .6rem;
		  }
		  table#cave tbody tr td:first-child {
		    	background: #e8cb9a; color: #fff;
		  }
		  table#cave tbody td:before {
		    content: attr(data-th);
		    font-weight: bold;
		    display: inline-block;
		    width: 10rem;
		  }
		  table#cave tbody td a img {
		  	width:15px;
		  	vertical-align: top;
		  }


		  table#member thead {
		  	display: none;
		  }
		  table#member tbody td {
		  	font-size: 1.3rem;
		  	text-align:left;
		    display: block;
		    padding: .6rem;
		  }
		  table#member tbody tr td:first-child {
		    	background: #e8cb9a; color: #fff;
		  }
		  table#member tbody td:before {
		    content: attr(data-th);
		    font-weight: bold;
		    display: inline-block;
		    width: 10rem;
		  }
		  table#member tbody td a img {
		  	width:15px;
		  	vertical-align: top;
		  }


		  table#winemakerList thead {
		  	display: none;
		  }
		  table#winemakerList tbody td {
		  	font-size: 1.3rem;
		  	text-align:left;
		    display: block;
		    padding: .6rem;
		  }
		  table#winemakerList tbody tr td:first-child {
		    	background: #e8cb9a; color: #fff;
		  }
		  table#winemakerList tbody td:before {
		    content: attr(data-th);
		    font-weight: bold;
		    display: inline-block;
		    width: 9rem;
		  }
		  table#winemakerList tbody td a img {
		  	width:15px;
		  	vertical-align: top;
		  }

		  table#profileCave thead {
		  	display: none;
		  }
		  table#profileCave tbody td {
		  	font-size: 1.3rem;
		  	text-align:left;
		    display: block;
		    padding: .6rem;
		  }
		  table#profileCave tbody tr td:first-child {
		    	background: #e8cb9a; color: #fff;
		  }
		  table#profileCave tbody td:before {
		    content: attr(data-th);
		    font-weight: bold;
		    display: inline-block;
		    width: 9rem;
		  }
		  table#profileCave tbody td a {
		  	color: black;
		  }
		  table#profileCave tbody td a:hover {
		  	color:black;
		  }
		  table#profileCave tbody td a img {
		  	width:15px;
		  	vertical-align: top;
		  }

		/* Messagerie */
			section.inbox h2 {
				font-size: 2rem;
				text-align: justify;
			}
			section#thread .col-message {
				width:100%;
			}
			section#thread p.row2 {
				width:100%;
				display:inline-block;
			}

			section#thread .col-avatar img  {
				width:80px;

			}
			section#thread input[type="submit"] {
				padding:.5em;
				margin:0;
				border-radius: 5px;
			}

		/* Profil User */
			div.profile {
				padding:0;
			}
			section#profile aside.user-infos-left {
				text-align:center;
				border-right: 0px;
			}
			section#profile aside.user-infos-left img.avatar {
				text-align: center;
			}

			li#view-profile {
				width:50%;
				font-size: 1.3rem
			}
			li#edit-profile {
				width:50%;
				font-size: 1.3rem
			}
			.vcenter {
				display:unset;
			}
			.vcenter p {
				margin: 0 1.5em;
			}
			section.user-infos-right dl {
				margin: 0 1.5em;
			}
		/* Profil Producteur */
			ul.fil-arianne {
				text-align: center;
			}


			 #winenot-menu li:hover ul {
				margin-top:1em;
			}
		}
