/*
    New Wine Maker
*/


    .registerNewWineMaker {
        width: 60%;
        height: 60%;
        margin: auto;
        margin: 5em auto;
        padding: 3em 3em 0;
        background-color: #eddcc0;
        color: #d09038;
        border-radius: 5px;
        text-transform: uppercase;
    }

    .registerNewWineMaker .form-control{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #d09038;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .registerNewWineMaker .btn {
        display: block;
        width: 100%;
        height: 2.5em;
        margin: 1em auto 0;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #d09038;
    }

    .registerNewWineMaker select{
        color: #d09038;

    }

    .registerNewWineMaker p{
        color: #d09038;
        font-size: .8em;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
        margin-top: 4em;
    }

    .registerNewWineMaker p:hover{
        color: #d09038;
    }

/*
    Cave
*/
    .section-with-panels {
        position: relative;
        width: 100%;
        max-width: 942px;
        /* height: 60%; */
        margin: 10em auto 2em auto;
        padding: 0em 0em 0em;
        background-color: #eddcc0;
        color: #d09038;

    }

    .section-with-panels > section {
        display: none;
    }

    .section-with-panels section.active {
        display: block;
    }

    .addProduct{
        width: 90%;
        padding: 3em 0;
        margin: auto;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #d09038;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .addProduct .form-group{
        text-align: left;
    }

    .edit-profile .btn,
    .addProduct .btn {
        display: block;
        width: 100%;
        height: 2.5em;
        margin: 1em auto 0;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #d09038;
    }

    .addProduct input[type=radio]{
        margin: 4em 1em 4em 6em;
    }

    .addProduct .addPics img{
    display: block;
    margin: 1em auto;
    }

    .addProduct .addPics input[type=file]{

        margin: auto;

    }

    .tabs li.active{
        background-color: #eddcc0;

    }

    .tabs {
        position: absolute;
        top: 0%;
        left: 0;
        text-align: left;
        border-radius: 5px;
        transform: translate(0%, -100%);
    }

   .tabs li{
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;
        color: #d09038;
        background-color: #e8cb9a;
        padding: 1.5em 3em 1em 3em;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        cursor: pointer;
    }

    .tabs li:nth-of-type(2){
        margin-left: -4px;
    }



/*    Modif style input file d'origine   */
    .productPics{
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
    }

    .productPics .btn-file {
        position: relative;
        overflow: hidden;
    }

    .productPics .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

     .productPics .btn {
        width: 60%;
        margin: 1em auto 0;
        font-size: 1rem;
        margin-bottom: 10%;
        line-height: 1rem;
    }

    .productPics img{
        margin: 10% auto;
    }

    .addProduct textarea.form-control  {
        height: 108px;
        resize: none;
    }


/*
    Stock
*/
    .stock {
        display: none;
        position: absolute;
        background-color: #eddcc0;
        color: #ffffff;
        top: 0%;
        left: 0;
        transform: translate(0%, 0%);
        margin-bottom: 10em;
        z-index: -1;
        border-radius: 0 4px 4px 4px;
    }

   .stock {
        width: 100%;
        /*text-align: center;*/
        /* height: 60%; */
        /* margin: 28.6em 7px; */
        padding: 3em 3em 2em;
        background-color: #eddcc0;
        color: #d09038;
        text-transform: uppercase;
    }


    table{
        margin: auto;
        border: 2px solid #d09038;
        text-transform: uppercase;
        background: #fdf5e7;
    }

    .table{
        margin-top: 0;
    }

    .table>thead>tr>th {
        text-align: center;
        vertical-align: bottom;
        border-bottom: 2px solid #d09038;
    }

    .table>tbody>tr>td{
        height: 2em;
        border-top: 1px solid #d09038;
        text-transform: none;
        text-align: center;
    }

    table tr > td:nth-of-type(7) {
        /*width: 6em;*/
        padding: 4px;
    }

    table img{
        margin: 0 5px;
    }

    td a:hover {
        opacity: 0.5;
    }


/*
    logo dashboard
*/
    .logoDashboard{
        text-align: center;
    }
    .logoDashboard a img{
    width: 7em;
    margin: 1em 7rem;

    filter: grayscale(0.5);
    transition-duration: .3s;
    }

    .logoDashboard  img:hover{
        filter: grayscale(0);
         transition-duration: .3s;
    }


@media screen and (max-width: 1280px) {
 
    .col-aside{
       
        width: 27%;
    }

    .col-main{
        margin-left: 27%;
    }
    
}


@media screen and (max-width: 1024px){
    .col-aside{
       
       display: none;
    }

    .col-main{
        margin-left: 0%;
    }

}


@media screen and (max-width: 768px) {
    article h2 {
       position: absolute;
       top: 0;
       left: 0;
       background: rgba(75, 29, 63, 0.8);
       width: 100%;
       max-width: 65rem;
       padding: 2rem;
       color: #fff;
       font-size: 1.1em;
       text-align: center;
       text-transform: uppercase;
    }
    
    .col-aside{
        display: none;
    }

    .col-main{
        margin-left: 0%;
    }

 /*   .logoDashboard>img{
        display: none;
    }*/

    
}

@media screen and (max-width: 520px){
    .tabs li{
        padding: 1.5em 5px 1em 5px;
    }

    article {
        position: relative;
        width: 100%;
        max-width: 65rem;
        margin: 0 auto 0 auto;
        background: #eddcc0;
        border: 1px solid #fff;
        border-radius: 5px 5px 0 0;
    }

    article h2 {
      
       background: rgba(75, 29, 63, 0.8);
       width: 100%;
       max-width: 65rem;
       padding: 0;
       color: #fff;
       font-size: 1.1em;
       text-align: center;
       text-transform: uppercase;
    }
}

/*
menu deroulant
*/
.responsive-menu{
    font-family: 'roboto';
    margin: auto
}

#winenot-menu {
   
}

#winenot-menu ul{
    
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .3s all .2s;
}

#winenot-menu li:first-child{
    background: #272727;
    color: #fff;
    line-height: 6rem;
    transition: background 0.5s ease-out,
    color 0.2s ease-out,
    padding 0.2s ease-out;
    text-align: center;
}

#winenot-menu ul:last-child li{
    background: #272727;
    color: #fff;
    line-height: 6rem;
    transition: background 0.5s ease-out,
    color 0.2s ease-out,
    padding 0.2s ease-out;
    border-top: 1px solid;


}

#winenot-menu li:hover ul{
    max-height:1000em;
}

#winenot-menu span{

    font-size: 1.6em;
}

#winenot-menu a{

    text-decoration: none;
    color: #fff;
}

#winenot-menu li img{
    margin-right: 1em;
}


/*



    #winenot-menu li:first-child li{
    background:#2A2333;
    }
    #winenot-menu li:nth-child(2) li{
    background:#333A40;
    }
    #winenot-menu li:nth-child(3) li{
    background:#9F391A;
    }
    #winenot-menu li:last-child li{
    background:#677F35;
    }




    #winenot-menu li:first-child:hover, #winenot-menu li:first-child li:hover{
    background:#65537A;
    }
    #winenot-menu li:nth-child(2):hover, #winenot-menu li:nth-child(2) li:hover{
    background:#729EBF;
    }
    #winenot-menu li:nth-child(3):hover, #winenot-menu li:nth-child(3) li:hover{
    background:#F6AD1A;
    }
    #winenot-menu li:last-child:hover, #winenot-menu li:last-child li:hover{
    background:#CFFF6A;
    }*/


/* les a href */
/*#winenot-menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#winenot-menu ul a{
padding:8px 0;
}
#winenot-menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#winenot-menu li:hover a, #winenot-menu li li:hover a{
color:#000;
}