/* @import url('https://fonts.googleapis.com/css?family=Pacifico'); */
.vcenter { /* Class custom pour aligner verticalement des colonnes bootstrap */
    display: flex;
    align-items: center;
}

h2 {
    color: #d09038;
}

p {
    margin: 2rem 0;
}

dl {
    width: 70%;
}

dt, dd {
    display: inline-block;
    width: 48%;
}

a.link-contact {
    padding: 0 5px;
    border-radius: 5px;

    color: #d09038;

    transition: all 0.2s ease-out;
}

a.link-contact:hover {
    padding: 5px;

    background-color: #d09038;
    border-radius: 5px;

    color: #fff;
}

section {
    width: 100%;
    max-width: 942px;

    margin: 0 auto;
    padding: 0;
}

section section {
    margin: 0;
    padding: 0;
}

section.contact-user p {
    text-align: center;
}

section#products {
    width: 100%;
    max-width: 100%;

    margin-top: 5em;
}

section#profile > section {
    padding: 2rem 2rem;

    color: #333;
}

section#profile > section div.row {
    margin-top: 1rem;
}

section#profile section section {
    vertical-align: middle;
}

section#profile aside.user-infos-left {
    padding-right: 3rem;
    border-right: 5px solid #d09038;
    text-align: center;
}

section#profile aside.user-infos-left span {
    font-weight: bold;
}

section#profile aside.user-infos-left span:last-of-type {
    font-size: 0.8em;
}

section#profile aside.user-infos-left img {
    display: block;

    margin: 0 auto;

    border-radius: 50%;
}

section#profile section.user-infos-right {
    padding-top: 1rem;
}

section#thread form {
    position: relative;

    width: 100%;
    max-width: 117rem;

    margin: 0 auto 10rem auto;
    padding: 0;
}

section#thread form textarea {
    width: 100%;
    height: 10rem;
}

section#thread input[type="submit"] {
    width:20%;
    margin: 0 auto 2em;
    background-color: #d09038;
    text-transform: uppercase;
    color:#fff;
    margin-top: 2rem;
}

section#thread .col-avatar,
section#thread .col-message {
    display: inline-block;
    vertical-align: top;
}

section#thread .col-avatar {
    width: 100px;

    margin-right: 40px;
}

img.avatar,
section#thread .col-avatar img {
    border-radius: 50%;
    margin-left: 15%;
}

section#thread .col-message {
    width: 80%;
}

section#thread p.row1,
section#thread p.row2 {
    position: relative;

    min-height: 10rem;

    margin: 0 auto 2.5rem auto;
    padding: 1.5rem;

    border-radius: 5px;
    word-wrap: break-word;
}

section#thread p.row1 {
    background: #ffffff;
}
section#thread p.row2 {
    background: #fff4e8;
}

ul.fil-arianne {
    width: 100%;
    max-width: 942px;
    margin: auto;
    margin-bottom: 1rem;
}

ul.fil-arianne li {
    display: inline-block;
}
ul.fil-arianne li:after {
    content: " \00BB ";
}
ul.fil-arianne li:last-of-type:after {
    content: '';
}

body.jsActive .city-input {
    display: none;
}
#thread{

    position: relative;
    width: 100%;
    max-width: 942px;
    /* height: 60%; */
    margin: 1em auto 2em auto;
    padding: 1em 2em 0;
    background-color: #eddcc0;
    color: #d09038;
    border-top-right-radius: 5px;
    border-radius: 5px;
}

/*    Modif style input file d'origine   */
    span.productPics{
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
    }

    span.productPics>.btn-file {
        position: relative;
        overflow: hidden;
    }

    span.productPics>.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

     span.productPics>.btn {
        width: 60%;
        margin: 1em auto 0;
        font-size: 1rem;
        margin-bottom: 10%;
    }

    #productPics{
        margin-top: 5em;
    }

@media screen and (max-width: 991px){
    #productPics{
        margin-top: 0em;
    }

    .addProduct input[type=radio] {
        margin: 1em 1em 0em 6em;
    }
}

/* Modifications des classes bootstrap */
.alert {
    display: inline-block;

    width: 100%;
}

.alert-info {
    background-color: #e8c791;
    border-color: #d09038;

    color: #cc830a;
}

.alert > p, .alert > ul {
    margin-bottom: 2rem;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;

    margin: 0 auto 50px;

    width: 300px;
    height: 300px;

    text-align: center;
}

/* flip the pane when hovered */
.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    position: relative;

    transition: 0.5s;
    transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    position: absolute;
    top: 0;
    left: 0;

    width: 300px;
    height: 300px;

    backface-visibility: hidden;
}

.front {
    position: relative;
    border-radius: 50%;
    transform: rotateY(0deg);
    overflow: hidden;
}

.front img {
    width: 300px;
    height: 300px;
}

 .nameWineBottle {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100%;
    height: 75px;

    background: #4b1d3f;
    opacity: 0.9;

    transform: translate(-50%, 0);
}

 .nameWineBottle p {
    margin-top: 10px;

    color: #fff;
    font-size: 0.9em;
}


/* back, initially hidden pane */
.back {
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    border-radius: 50%;
    background: #270c0c;

    transform: rotateY(180deg);
    overflow: hidden;
}

.back > p {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.back .nameWineBottle p {
    margin-top: 20px;
}

div#imageCrop-mask {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);
    z-index: 2000;
}

div#imageCrop-mask > div {
    width: 75rem;
    height: 75rem;

    margin: 0 auto;
    margin-top: 5rem;
    padding: 2.5rem;

    background: #fff;
    border: 2px solid 1a1a1a;
    border-radius: 5px;
}

div#imageCrop-mask > div img {
    max-height: 75rem;
}
