/* @import url('https://fonts.googleapis.com/css?family=Pacifico'); */
p.user-infos span {
    font-weight: bold;
}

p.user-infos span.user-registerdate {
    font-size: 0.8em;
}

h2 {
    color: #d09038;
}

section#profile {
    width: 1170px;
    max-width: 100%;

    margin: 10rem auto;
    padding: 2rem;

    background: #eddcc0;
}

section#thread {

}

section#thread form {
    position: relative;

    width: 100%;
    max-width: 117rem;

    margin: 0 auto 10rem auto;
    padding: 0;
}

section#thread form textarea {
    width: 100%;
    height: 10rem;

    background: transparent;
    border: 2px solid #a4300c;
}

section#thread input[type="submit"] {
    float: right;

    width: auto;

    margin: 1rem 2rem;

    background: none;
    border: 0;

    color: #000;
}

section#thread .col-avatar,
section#thread .col-message {
    display: inline-block;
    vertical-align: top;
}

section#thread .col-avatar {
    width: 100px;

    margin-right: 40px;
}

section#thread .col-avatar img {
    border-radius: 50%;
}

section#thread .col-message {
    width: 80%;
}

section#thread p {
    position: relative;

    min-height: 10rem;

    margin: 0 auto 2.5rem auto;
    padding: 1.5rem;

    border-radius: 5px;
}

section#thread p.row1 {
    background: #ffffff;
}
section#thread p.row2 {
    background: #fff4e8;
}

body.jsActive .city-input {
    display: none;
}

p#
