
/*
CAROUSEL
*/
.hide-bullets {
list-style:none;
margin-left: 2px;
margin-top:20px;

}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
}

#myCarousel {
    padding: 0em 0 0em;
    max-height: 90.2vh;
    overflow: hidden;
}

/*
GRAYSCALE
*/

ul{
  list-style-type: none;
}

.grayscale img{
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
}

.grayscale img:hover{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
}


/*PARAGRAPHE A COTE DU CAROUSEL*/

h4{
  margin-bottom: 10px;
  color: #e5e5e5;
}

#ProductMonth p {
    color: #e5e5e5;
    margin-bottom: 21px;
    text-align: justify;
    font-size: 14px;
}

/*UNE CITATION DU PRODUCTEUR*/
blockquote {
  color: #e5e5e5;
  width: 80%;
    padding: 6px 26px 2px 15px;
    margin: 0px auto;
    font-size: 15.5px;
    border-left: 5px solid #a22b49;
}

blockquote small{
  color: #e5e5e5;;
}

#slide-content h2 {
    margin-bottom: 10px;
}

section#ProductMonth .col-sm-2 {
    width: 11.666667%;
    margin: 0px auto;
}


/*
LE MAG
*/
section#lemag > h2 {
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 50%;
    display: inline-block;
    width: auto;
    padding: 0.5rem 2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform: translate(-50%, -2rem);
        background-color: #eddcc0;
}

#page {
  background-color: #eddcc0;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



a {
  color: #1d2f3b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.blog-text p {
  margin-bottom: 20px;
  font-size: 18px;
}

#slide-content, h3{
  color: #fff;
  font-weight: 400;
  margin: 0 0 20px 0;
}


#magazine-content, #magazine-blog{
  padding: 7em 0;
  clear: both;
  text-align: center;
}


.magazine-blog {
  margin-bottom: 3em;
  width: 100%;
  float: left;
}



.magazine-blog > a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .magazine-blog {
    width: 100%;
  }
}
.magazine-blog .title {
  margin-bottom: 40px;
}
.magazine-blog .title h3 {
  font-size: 34px;
}
.magazine-blog .title h3 a {
  color: #000;
}
.magazine-blog .title h3 {
  font-size: 24px;
}
.magazine-blog .title h3 a {
  color: #000;
}


.magazine-blog .title .category {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}
.magazine-blog .title .category:before {
  position: absolute;
  top: 9px;
  left: -120px;
  right: 0;
  bottom: 0;
  content: '';
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}
.magazine-blog .title .category:after {
  position: absolute;
  top: 9px;
  right: -120px;
  bottom: 0;
  content: '';
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.09);
}



/*
Cadre Article du Mag
*/

.magazine-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.category {
  margin: 0;
  padding: 0;
}
.category li {
  list-style: none;
  padding: 7px 0;
}
.category li a {
  color: #000;
  position: relative;
  padding-left: 20px;
}
.category li a i {
  position: absolute;
  top: 0;
  left: 0;
}


.col-padded-right {
  padding-right: 2em !important;
}


/*
ARTICLE DU MAG
*/
article.blog-text p{
  text-align: left;
  width: 80%;
  margin-bottom: 30px;
}
article.blog-text h3{
  display: block;
  font-weight: bold;
  margin: auto;
  text-align: left;
  width: 80%;
  color: black;
}

/*
POSTER UN ARTICLE
*/

#editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
nav ul li a {
  font-size: 1em;
  font-family: "Open Sans",sans-serif;
}


/*upload et post button
*/

.btn-success{
  float: right;
}


.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file>input {

  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}

/* Caption Style */
.mask figure {
  overflow: hidden;
}

.mask figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.mask figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
  position: absolute;
  top:10px;
  bottom: 10px;
  right: 30px;
}