.hide-bullets {
list-style:none;
margin-left: 2px;
margin-top:20px;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
}

#myCarousel {
    padding: 0em 0 0em;
    max-height: 90.2vh;
    overflow: hidden;
}

section#ProductMonth .col-sm-2 {
    width: 11.666667%;
    margin: 4px;
}


/*.col-sm-12 {
    width: 70%;
}

.carousel-control.right {
    right: 20%;
}*/