/* About us */

.content_aboutus {
	width: 75%;
	margin: 5em auto;
}
.content_aboutus > p {
	
	padding-bottom: 2em;
	font-size: 1.8rem;
}

/* Google Map Api */  

     #map {
       height: 500px;
     }
     
/* Réseaux sociaux */
     .fa-instagram:hover {
     	color: #caa870;
     }
     
     .fa-facebook-square:hover {
     	color: #4267b2;
     }

	.fa-twitter-square:hover {
		color:#37a6f5;
	}
	.fa-tumblr-square:hover {
		color:#35465d;
	}

