/* Article */

	div.article h2 {
		text-align: center;
		padding-top: 1em;
	}
	.listArticle {

		text-align:center;
		
	}
	div.oneArticle {
		background:#eee;
		padding:2em;
		border:1px solid white;
		border-radius:5px;
		transition: all ease 0.5s
	}
	div.oneArticle:hover{
		background: #ccc;
	}
	a.articleTitle {
		font-size: 1.8rem;
		color:black;
	}
	a.articleTitle:hover {
		text-decoration:none;
		color:black;
	}
	
/* About us */
	.content_aboutus {
		width: 75%;
		margin: 5em auto;
	}
	.content_aboutus > p {
		
		padding-bottom: 2em;
		font-size: 1.8rem;
	}

/* Google Map Api */  

     #map {
       height: 500px;
     }
     
/* Réseaux sociaux */
     .fa-instagram:hover {
     	color: #caa870;
     }
     
     .fa-facebook-square:hover {
     	color: #4267b2;
     }

	.fa-twitter-square:hover {
		color:#37a6f5;
	}
	.fa-tumblr-square:hover {
		color:#35465d;
	}

