/*-----------ANIMATION FLIP-------------*/
	section#WineMonth .row {
		margin-bottom: 2.5rem;
	}

	/* balise "containerGlobal" pour decalage horizontal vignettes */
	.containerGlobal{
		display: inline-block;

		margin: 2em 5em;

		color: #ffffff;
	}
	/* entire container, keeps perspective */
	.flip-container {
		perspective: 1000px;

		margin: 0 auto 50px;

		width: 300px;
		height: 300px;
	}

	/* flip the pane when hovered */
	.flip-container:hover .flipper {
		transform: rotateY(180deg);
	}

	/* flip speed goes here */
	.flipper {
		position: relative;

		transition: 0.5s;
		transform-style: preserve-3d;
	}

	/* hide back of pane during swap */
	.front, .back {
		position: absolute;
		top: 0;
		left: 0;

		width: 300px;
		height: 300px;

		backface-visibility: hidden;
	}

	.front {
		position: relative;
		border-radius: 50%;
		transform: rotateY(0deg);
		overflow: hidden;
	}

	.front img {
	 	width: 300px;
	 	height: 300px;
	}

	.front .nameWineBottle {
		position: absolute;
		bottom: 0;
		left: 50%;

		width: 100%;
		height: 75px;

		background: #4b1d3f;
		opacity: 0.9;

		transform: translate(-50%, 0);
	}

	.front .nameWineBottle p {
		margin-top: 10px;

		color: #fff;
		font-size: 0.9em;
	}


	/* back, initially hidden pane */
	.back {
  		display: flex; /* contexte sur le parent */
		flex-direction: column; /* direction d'affichage verticale */
		justify-content: center; /* alignement vertical */
		border-radius: 50%;
		background: #270c0c;

		transform: rotateY(180deg);
	}

	.back p {
		width: 80%;

		margin: auto; /* eh oui, tout bêtement */

		color: #fff;
	}


	/*.back .description p:nth-of-type(2){
		color: white;
	}*/
	a:hover{
		color: #a7dadc;
		text-decoration: none;
	}

	@media (max-width: 768px) {
		section#WineMonth .row {
			margin-bottom: 0rem;
		}

		#adjustPaddingBootstrap{
			padding-left: 0px;
			padding-right: 0px ;
		}

		.flip-container {
			height: auto;

			margin: 0 auto;
			margin-bottom: 5rem;
		}

		.flip-container:hover .flipper {
			transform: rotateY(0deg);
		}

		.front, .back {
			position: static;

	  	  	transform: rotateY(0deg);
		}

		.front {
			border-radius: 0;
		}

		.front .nameWineBottle {
			bottom: 0;
		}

		.front .nameWineBottle p {
			margin-top: 1.7rem;
		}

		.back {
			position: static;
			height: auto;
			border-radius: 0%;
		}

		.back p {
			padding: 3rem;

			text-align: left;
		}
	}
/*-----------FIN ANIMATION FLIP-------------*/
